<h1>Users#new</h1>
<p>Find me in app/views/users/create.html.erb</p>

<% form_for @user , url: {action: :create} do |f| %>

<%= t.text_field :uid , class: "text_form"%><br>
<%= t.text_field :pass , class: "text_form"%><br>

<%end%>
