<h1>Users#new</h1>
<p>Find me in app/views/users/create.html.erb</p>

<%= form_for @user , url: {action: :create} do |f| %>

<%= t.text_field :uid %><br>
<%= t.text_field :pass %><br>
<%= t.submit '投稿' ,class: "btn_edit" %>


<%end%>
